2.png
3.png
4.png
Lambda-1.png
Pro-1-Add_Permissions.png
Pro-1-Create_Role.png
Pro-1-Create-Policy.png
Pro-1-IAM.png
Pro-1-Input-Policy.png
Pro-1-Polices.png
Pro-1-Policy_Created.png
Pro-1-Review_Policy.png
Pro-1-Review_Role.png
Pro-1-Roles.png
Pro-1-Trusted_Entity.png
5.png
6.png
7.png
EC2 Role.png
.gitignore
